<tr>
  <td><%= @order.name %></td>
  <td><%= @order.instructions %></td>
  <td><%= @order.status %></td>

  <td class="text-right">
    <%= link "Show", to: order_path(@conn, :show, @order), class: "btn btn-default btn-xs" %>
    <%= link "Edit", to: order_path(@conn, :edit, @order), class: "btn btn-default btn-xs" %>
    <%= link "Delete", to: order_path(@conn, :delete, @order), method: :delete, class: "btn btn-danger btn-xs" %>
  </td>
</tr>
